body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
}

.calculator {
  background-color: #141313;
  padding: 25px;
  padding-top: 35px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  margin: 150px;
}

#display {
  width: 93%;
  height: 50px;
  background-color: #777;
  color: white;
  border: none;
  text-align: right;
  padding: 10px;
  font-size: 24px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  gap: 10px;
}

button {
  padding: 20px;
  font-size: 20px;
  border: none;
  border-radius: 50%;
  background-color: #555;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}
.o-buttons {
  background-color: rgb(89, 143, 143);
  color: black;
}
.o-buttons:hover {
  background-color: rgb(93, 185, 185);
}
button:hover {
  background-color: #777;
}

.equals {
  grid-column: span 2;
  background-color: red;
}

.equals:hover {
  background-color: rgb(180, 3, 3);
}

.zero {
  grid-column: span 2;
}

.c {
  background-color: red;
}

.c:hover {
  background-color: rgb(180, 3, 3);
}

button:active {
  transform: scale(0.95);
}
